<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{css/uwo.css}" />
</head>
<body>
<div class="uwo-main">
    <div class="uwo-container">
        <form th:action="@{/login}" method="post">
            <div class="uwo-group uwo-logo">
                <h1>完达山乳业</h1>
            </div>
            <!--<div class="uwo-group uwo-none">-->
                <!--<div class="uwo-ml-40" style="margin-left: 0px;margin-bottom: 25px">-->
                    <!--<div class="uwo-input" style="text-align: center">-->
                        <!--<h1>完达山乳业</h1>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="uwo-group uwo-none">
                <label class="uwo-w-40 fa fa-envelope-o"></label>
                <div class="uwo-ml-40">
                    <div class="uwo-input">
                        <input autocomplete="off" name="username" placeholder="用户账号" type="text"/>
                    </div>
                </div>
            </div>

            <div class="uwo-group uwo-none">
                <label class="uwo-w-40 fa fa-lock"></label>
                <div class="uwo-ml-40">
                    <div class="uwo-input">
                        <input name="password" placeholder="密码" type="password"/>
                    </div>
                </div>
            </div>

            <div class="uwo-group uwo-top10">
                <button class="uwo-button uwo-full uwo-primary" type="submit">
                    <span>登录</span>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>